body {
  font-family: 'Kanit', sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 51);
}

.wrapper {
  padding-top: 20px;
  background: rgb(0, 0, 51);
  background: linear-gradient(0deg, rgba(0, 0, 51, 1) 0%, rgba(35, 35, 128, 1) 100%);
}

h1 {
  opacity: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 150px;
  color: #000;
  text-shadow: 0px 0px 10px blue;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.51s;
  transform: translateY(30px);
}

h2 {
  opacity: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  color: #08f;
  text-shadow: 0px 0px 10px blue;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  transform: translateY(30px);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.navbar {
  display: flex;
  width: auto;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  border-radius: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar li {
  list-style: none;
  margin: 0 20px;
  display: inline-flex;
  align-items: center;
}

.navbar li a {
  text-decoration: none;
}

.navbar li img {
  width: 30px;
}

.searchwrap {
  display: flex;
  width: auto;
  height: 60px;
  margin: 20px;
  border-radius: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

input {
  width: 20%;
  margin: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.0);
}

.game {
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #08f;

}

#gamelist {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.game a {
  text-decoration: none;
}

.game a img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}